body {
    font-family: Poppins, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: black;
}

header {
    background-color: #6D62FC;
    color: #fff;
    text-align: center;
    padding: 0px 60px 0px 60px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header img{
    max-height: 7ch;
    padding: 10px 0px 10px 0px;
}

nav {
    display: flex;
    align-items: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
}

/* div hero */
.hero {
    display: flex;
    justify-content: space-evenly; 
    align-items: center; /* Alineación vertical al centro */
    padding: 60px;
    height: 300px;
}

/* imagen del hero */
.hero img{
    max-width: 350px;
}

.logos {
    display: flex;
    justify-content: center;
}

div.logos img {
    max-width: 24px;
    padding: 15px;
}

/* titulo de hero */
h1.intro{
    font-size: 24px;
    font-weight: 300;
    max-width: 450px;
    text-align: left;
}

/* div de secciones */
div.container {
    max-width: 960px;
    margin: 0 auto;
 }

section {
    background-color: #6a5acd;
    color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.proyectos {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-evenly;
}

.cardProyecto {
    padding: 30px;
    background-color: #fff;
    color: black;
    margin: 10px;
    border-radius: 10px;
}

.cardProyecto img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

.cardProyecto h3 {
    font-size: 20px;
    font-weight: 600;
}

.cardProyecto p {
    font-size: 16px;
}

#sobremi {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: black;
}

.imagen-perfil {
    width: 200px; /* Ajusta el ancho deseado para la imagen cuadrada */
    height: 200px; /* Ajusta la altura deseada para la imagen cuadrada */
    overflow: hidden; /* Oculta cualquier parte de la imagen que exceda el contenedor */
    border-radius: 50%; /* Hace que la imagen sea circular */
    float: left;
    margin-right: 25px;
}
  
.imagen-perfil img {
    width: 100%; /* Asegura que la imagen ocupe todo el contenedor */
    height: 100%; /* Asegura que la imagen ocupe todo el contenedor */
    object-fit: cover; /* Recorta la imagen para ajustarse al contenedor */
}
  
.descripcion p {
    text-indent: 30px;
    font-size: 16px;
    line-height: 1.6;
}

footer {
    text-align: center;
    background-color: #6D62FC;
    color: #fff;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

footer img{
    padding: 15px;
    max-height: 10ch;
}

